<template>
    <div>
        <div v-if="items.length" v-on:scroll="onScroll">
            <div class="panel panel-default" v-for="item in items">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <router-link :to="{ name: 'article', params: { id: item.id } }">{{ item.title }}</router-link>
                    </h3>
                </div>
                <div class="panel-body" v-html="item.pre_view"></div>
            </div>
        </div>

        <div v-else>
            <div class="panel panel-default">
                <div class="panel-body">
                    -- no items --
                </div>
            </div>
        </div>

        <div class="text-center">
            <spinner ref="spinner" size="sm" text="Loading..."></spinner>
            <button class="btn btn-default" v-on:click="loadNextPage" :disabled="total==items.length">load more</button>
        </div>
    </div>
</template>

<script>
    import {spinner} from 'vue-strap2'
    export default {
        components: {
            spinner
        },
        data(){
            return {
                items: [],
                loading: false,
                total: 0,
                page: 1,
                limit: 3,
                resource_url: '/article'
            };
        },
        watch: {
            loading(val) {
                if(val)
                    this.$refs.spinner.show();
                else
                    this.$refs.spinner.hide();
            }
        },
        methods: {
            loadNextPage: function () {
                let url = this.resource_url + '/' + this.limit + '/' + this.page;
                this.loading = true;
                this.$http.get(url).then(function (response) {
                    let json = JSON.parse(response.data),
                        items = json.data;
                    this.items = this.items.concat(items);
                    this.loading = false;
                    this.total = json.total;
                    this.page++;
                }, function (error) {
                    this.loading = false;
                });
            },
            onScroll: function (event) {
                let wrapper = event.tagret,
                    list = wrapper.firstElementChild;

                let scrollTop = wrapper.scrollTop,
                    wrapperHeight = wrapper.offsetHeight,
                    listHeight = list.offsetHeight;

                let diffHeight = listHeight - wrapperHeight;

                if(diffHeight <= scrollTop && !this.loading){
                    this.loadNextPage();
                }
            }
        },
        created: function () {
            this.loadNextPage();
        }
    }
</script>
