<template>
    <div>
        <div v-if="article && !loading">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <router-link :to="{ name: 'article', params: { id: article.id } }">{{ article.title }}</router-link>
                    </h3>
                </div>
                <div class="panel-body" v-html="article.content"></div>
            </div>
        </div>

        <div v-else-if="!article && !loading">
            <div class="panel panel-default">
                <div class="panel-body">
                    -- not found --
                </div>
            </div>
        </div>

        <div v-else-if="!article && loading">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    -- loading --
                </div>
            </div>
        </div>

        <div v-else>
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    -- no items --
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                article: {},
                loading: false,
                resource_url: '/article'
            };
        },
        created: function() {
            let articleId = this.$route.params.id;
            let url = this.resource_url + '/' + articleId;
            this.$http.get(url).then(function (response) {
                let json = JSON.parse(response.data),
                    article = json.data;
                this.article = article;
                this.loading = false;
            }, function (error) {
                this.loading = false;
            });
        }
    }
</script>
