<template>
    <div>
        <spinner ref="spinner" size="xl" fixed text="Loading..."></spinner>
        <h1>Sources <small class="btn bg-primary" @click="addSource">add new</small></h1>
        <div v-if="items.length" v-on:scroll="onScroll">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Source Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>
                            <button @click="grabSource(item.id)" class="btn btn-success">grab</button>
                            <button @click="getSource(item.id)" class="btn btn-primary">edit</button>
                            <button @click="deleteSource(item.id)" class="btn btn-danger">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else>
            <div class="panel panel-default">
                <div class="panel-body">
                    -- no items --
                </div>
            </div>
        </div>
        <modal
                v-on:cancel="showAddModal = false"
                title="Add new Source"
                :show.sync="showAddModal"
                effect="fade"
                width="800"
                v-bind:callback="saveSource"
                v-bind:value="showAddModal">
            <div slot="modal-body" class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group" v-bind:class="{ 'has-error': errors[filed] }" v-for="filed in fillable">
                        <label v-bind:for="filed" class="col-md-4 control-label">{{filed}}</label>
                        <div class="col-md-6">
                            <input v-bind:id="filed" type="text" class="form-control" v-bind:name="filed" v-model="modal[filed]" />
                            <span v-if="errors[filed]" class="help-block">
                                <strong v-for="error in errors[filed]">{{ error }}</strong>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </modal>
    </div>
</template>

<script>
    import {modal,spinner} from 'vue-strap2'
    export default {
        components: {
            modal,spinner
        },
        data(){
            return {
                items: [],
                loading: false,
                total: 0,
                page: 1,
                limit: 10,
                resource_url: '/source',
                showAddModal: false,
                modal:{
                    id:'',
                    title:'',
                    url:'',
                    post:'',
                    post_title:'',
                    pre_view:'',
                    content:'',
                },
                fillable:['title','url','post','post_title','pre_view','content'],
                errors:[]
            };
        },
        watch: {
            loading(val) {
                if(val)
                    this.$refs.spinner.show();
                else
                    this.$refs.spinner.hide();
            }
        },
        methods: {
            loadNextPage(){
                let url = this.resource_url + '/' + this.limit + '/' + this.page;
                this.loading = true;
                this.$http.get(url).then(function (response) {
                    let json = JSON.parse(response.data),
                        items = json.data;
                    this.items = this.items.concat(items);
                    this.loading = false;
                    this.total = json.total;
                    this.page++;
                }, function (error) {
                    this.loading = false;
                });
            },
            reload(){
                this.page = 1;
                this.items = [];
                this.loadNextPage();
            },
            onScroll(event){
                let wrapper = event.tagret,
                    list = wrapper.firstElementChild;

                let scrollTop = wrapper.scrollTop,
                    wrapperHeight = wrapper.offsetHeight,
                    listHeight = list.offsetHeight;

                let diffHeight = listHeight - wrapperHeight;

                if(diffHeight <= scrollTop && !this.loading){
                    this.loadNextPage();
                }
            },
            addSource(){
                this.showAddModal = true;
                this.modal = {
                    id:'',
                    title:'',
                    url:'',
                    post:'',
                    post_title:'',
                    pre_view:'',
                    content:'',
                };
            },
            saveSource(){
                let url = this.resource_url;
                this.loading = true;
                this.$http.post(url,this.modal).then(function (response) {
                    this.loading = false;
                    this.showAddModal = false;
                    this.reload();
                }, function (error) {
                    let json = JSON.parse(error.data);
                    this.errors = json.errors;
                    this.loading = false;
                });
            },
            getSource(id){
                let url = this.resource_url + '/' + id ;
                this.$http.get(url).then(function (response) {
                    let json = JSON.parse(response.data);
                    this.modal = json.data;
                    this.loading = false;
                    this.showAddModal = true;
                }, function (error) {
                    this.loading = false;
                });
            },
            deleteSource(id){
                let url = this.resource_url + '/' + id ;
                this.$http.delete(url).then(function (response) {
                    this.reload();
                }, function (error) {
                    this.loading = false;
                });
            },
            grabSource(id){
                let url = '/grab/' + id ;
                this.loading = true;
                this.$http.get(url).then(function (response) {
                    this.loading = false;
                }, function (error) {
                    this.loading = false;
                });
            },
        },
        created() {
            this.loadNextPage();
        }
    }
</script>
