@charset "UTF-8";

// Fonts
@import "../../../node_modules/bootstrap/dist/css/bootstrap";
@import "../../../node_modules/bootstrap/dist/css/bootstrap-theme";

body {
    background-color: whitesmoke;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-weight: 300;
}